body {
    background-image: url("corfumap_resized.png");
    background-repeat: no-repeat;
    background-size: 140%; 
    background-attachment: fixed; 
    background-position: right 30%; 
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: bold;
    margin: 10; 
    overflow: hidden;
    overflow-y: scroll;
}

.transition-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 1; 
    pointer-events: none; 
    z-index: 9999;
    transition: opacity 0.5s ease, filter 0.5s ease;
    filter: blur(10px); 
}

.transition-layer.loaded {
    opacity: 0;
    filter: blur(0px);
}

.transition-layer.active {
    opacity: 1;
    filter: blur(10px);
}

.back-to-start-button {
    position: absolute; 
    color: white;
    left: 40px; 
    top: 10%; 
    font-size: 17px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 40px;
    background-color: #2c85d8;
    text-shadow: 5px 0px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7);
    padding: 20px 40px;
    cursor: pointer;
    border: none;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease;
    text-decoration: none;
}
.back-to-start-button:hover {
    color: #2c85d8;
    background-color: white;
    text-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5); 
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.7);
}

h1 {
    position: absolute;
    color: #658aac;      
    top: 20%;                /* Position roughly 75% from the top */
    left: 40px;
    right: 150px;
    font-size: 40px;         /* Font size for better visibility */
    font-weight: bold;       /* Ensure it's bold for emphasis */
    font-style: italic;
    z-index: 1000;           /* Ensure it appears above other elements, but below higher z-index items like the transition layer */
}

/* Shared styling for all monument buttons */
.monument-button {
    position: absolute;
    padding: 35px 35px;
    background-color: #ff0000;
    color: #ff0000;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.5s ease, transform 0.3s ease;
}

.monument-button:hover {
    background-color: #0025ff;
}

.spianada-button {
    bottom: 35%;
    right: 385px;
}

.old-fortress-button {
    bottom: 37.3%;
    right: 180px;
}

.ionian-academy-button {
    bottom: 26%;
    right: 410px;
}

.mon-repos-button {
    bottom: 24%;
    right: 470px;
}

.catholic-church-button {
    bottom: 37.5%;
    right: 482px;
}

.music-museum-button {
    bottom: 41%;
    right: 442px;
}

.casa-parlante-button {
    bottom: 40%;
    right: 482px;
}

.ionian-banknote-button {
    bottom: 43%;
    right: 495px;
}

.new-fortress-button {
    bottom: 45.3%;
    right: 845px;
}

.saint-spyridon-button {
    bottom: 46%;
    right: 450px;
}

.asian-arts-button {
    bottom: 47%;
    right: 348px;
}

.saint-theodora-button {
    bottom: 49%;
    right: 570px;
}

.venetian-well-button {
    bottom: 52.5%;
    right: 520px;
}

.antivouniotisa-button {
    bottom: 55.5%;
    right: 480px;
}


/* Content container styles */
.content-container {
    position: absolute;                     /* Allows positioning within the body */
    left: 43%;                             /* Center horizontally */
    top: 86%;                              /* Adjust as needed */
    transform: translateX(-50%);           /* Center alignment */
    text-align: left;                       /* Center text inside the container */
    color: #ffffff;                        /* Text color */
    
    /* Border Properties */
    border: 1px solid #2c85d877;          /* Set the border thickness and color */
    border-radius: 10px;                   /* Round corners */
    padding: 20px;                         /* Space inside the container */
    background-color: #2c85d8bc;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.7); /* Shadow for depth */
    
    overflow-y: auto;                      /* Add vertical scrollbar when content exceeds height */
    height: 70%;                           /* Adjust height as needed */
    width: 80%;                            /* Set a width for the container */
    max-width: 700px;                     /* Optional: set a max width for larger screens */
    opacity: 0;                            /* Start invisible */
    visibility: hidden;                    /* Hidden by default */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Transition for opacity and visibility */
}

/* Media Query for Responsiveness */
@media screen and (max-width: 600px) {
    .content-container {
        width: 90%;                       /* Adjust width for smaller screens */
    }
}

.content-container::-webkit-scrollbar {
    width: 10px;                          /* Set the width of the scrollbar */
}

/* Track */
.content-container::-webkit-scrollbar-track {
    background: transparent;              /* Set the background color of the scrollbar track */
}

/* Handle */
.content-container::-webkit-scrollbar-thumb {
    background: #cacacaa8;                /* Set the color of the scrollbar handle */
    border-radius: 6px;                   /* Set the border radius of the scrollbar handle */
}

/* Handle on hover */
.content-container::-webkit-scrollbar-thumb:hover {
    background: #aaaaaad7;                /* Set the color of the scrollbar handle on hover */
}

.content-container.visible {
    opacity: 1;                            /* Fully visible */
    visibility: visible;                    /* Set to visible */
}



h2 {
    font-size: 40px;
    text-shadow: 5px 0px 10px rgba(0, 0, 0, 0.8);
    margin-bottom: 17px;                  /* Space below the heading */
}

h3 {
    font-size: 17px;
    text-shadow: 5px 0px 10px rgba(0, 0, 0, 0.9);
    margin-bottom: 17px;                  /* Space below the subheading */
}
.audio{
    margin-top: 50px;
    margin-bottom: 50px;
}

.content-image {
    width: 100%;            /* Set the width to 50% of the container */
    border-radius: 10px;  /* Round the corners */
    margin-top: 25px;
    transition: transform 0.3s ease; /* Smooth scaling effect on hover */
}

.content-image:hover {
    transform: scale(1.05); /* Slightly scale up the image on hover */
}

/* White overlay for larger screens only */
@media (min-width: 1000px) {
    body::before {
        content: 'Coming soon on desktop.';
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        color: black;                 /* Text color for better contrast */
        font-size: 24px;              /* Font size for visibility */
        font-family: Arial, sans-serif;
        z-index: 9999;                /* Ensure overlay is on top */
    }

    /* Hide body content and scrollbars when overlay is active */
    body {
        overflow: hidden;
    }
}

